<div class="main-content">
    <div class="section-sontent section-content-p30">
        <div class="container-fluid">
            <h4>Order</h4>
            <div *ngIf="orderHistory.length > 0">
                <table class="table">
                    <tr>
                        <th width=20%>Order tracking ID</th>
                        <th width=20%>Total Price</th>
                        <th width=20%>Total Quantity</th>
                        <th width=20%>Transaction Date</th>
                    </tr>
                    <tr *ngFor="let order of orderHistory" style="padding: 20px;margin-bottom: 20px;">
                        <td style="padding: 20px 20px 20px 0px;">{{order.trackingId}}</td>
                        <td style="padding: 20px 20px 20px 0px;">{{order.totalPrice | currency: 'INR'}}</td>
                        <td style="padding: 20px 20px 20px 0px;">{{order.totalQuantity}}</td>
                        <td style="padding: 20px 20px 20px 0px;"> {{order.dateCreated | date:'medium'}}</td>
                    </tr>
                </table>
            </div>
            <div *ngIf="orderHistory.length == 0">
                You have not placed any orders with us. Please go ahead and buy some products!
            </div>
        </div>
    </div>
</div>>
