<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">MediCare Bay</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <app-category-menu></app-category-menu>
        <app-search-box></app-search-box>
        <app-login-status></app-login-status>         
        <app-shopping-cart-status></app-shopping-cart-status>
      </div>
    </div>
  </nav>